* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.main {
  background-image: url("images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 100vh;
  /* min-height: 100vh;
  height: auto;
  padding-bottom: 20px; */

  position: relative;
}
.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.74;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  max-width: 80vw;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 62px;
}
nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: calc(100% - 62px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
  padding: 0 23px;
  text-align: center;
}
.hero .first {
  font-weight: bolder;
  font-size: 55px;
}
.hero .second {
  font-weight: bolder;
  font-size: 55px;
  text-align: center;
}
.hero .third {
  font-weight: 700px;
  font-size: 24px;
  text-align: center;
}

.seperation {
  background-color: rgb(90, 88, 88);
  height: 8px;
}
.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn {
  padding: 5px 48px;
  font-weight: bold;
  /* background-color: rgba(255, 0, 0, alpha); */
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.red-btn {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px 18px;
  cursor: pointer;
}
.red-btn1 {
  background-color: red;
  padding: 20px 63px;
  color: white;
  font-weight: bolder;
  font-size: 30px;

  border-radius: 10px;
}
.firstimg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: left;
  font-size: 23px;
  position: relative;
  gap: 20px;
}
/* @media screen and (max-width: 1300px) {
  .firstimg{
    flex-wrap: wrap;
  } */

.card1 {
  width: 300px;
  overflow: hidden;
  height: 340px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: black;
}
.card1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 3px;
}

.firstimg .firstimg1 {
  font-size: 48px;
  font-weight: bolder;
}
.secondimg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: left;
  font-size: 23px;
  position: relative;
  gap: 20px;
}
/* @media screen and (max-width: 1300px) {
  .secondimg{
    flex-wrap: wrap;
  } */
.secondimg .secondimg1 {
  font-size: 48px;
  font-weight: bolder;
}
.card2 {
  width: 50vw;
  overflow: hidden;
  height: 340px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: black;
}
.card2 img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  display: block;
  border-radius: 3px;
}
.thirdimg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: left;
  font-size: 23px;
  position: relative;
  gap: 20px;
  
}
/* @media screen and (max-width: 1300px) {
  .thirdimg{
    flex-wrap: wrap;
  } */
.card3 {
  width: 300px;
  overflow: hidden;
  height: 340px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: black;
}
.card3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
    border-radius: 3px;
}

.thirdimg .thirdimg1 {
  font-size: 48px;
  font-weight: bolder;
}
.faq h2 {
  text-align: left;
  font-weight: bolder;
  font-size: 27px;
  margin-left: 170px;
}
.faq {
  background: black;
  color: white;
  padding: 34px;
}
.faqbox:hover{
  background-color: rgb(37, 36, 36);
}
.faqbox {
  display: flex;
  background-color: gray;
  padding: 24px;
  font-size: 23px;
  margin: 34px auto;
  max-width: 70vw;
}
footer{
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
footer .question{
  padding: 34px 0px;
}
/* @media screen and (max-width: 1300px) {
  .footer{
    display: grid;
  }
} */
.footer-item{
  display: flex;
  flex-direction: column;
}
.footer-item a{
  font-size: 14px;
  gap: 50px;
  padding: 14px;
  color: white;
}
section{
  margin-top: 40px;
  margin-bottom: 40px;
}


 @media screen and (max-width: 768px) {
  .firstimg,
  .secondimg,
  .thirdimg,
  .faq,
  footer {
    flex-direction: column;
    padding: 0 16px;
    text-align: center;
  }

  .firstimg,
  .secondimg,
  .thirdimg {
    gap: 10px;
  }

  .firstimg div,
  .secondimg div,
  .thirdimg div {
    width: 100%;
  }

  .card1,
  .card2,
  .card3 {
    width: 100%;
    height: auto;
  }

  .faq h2 {
    margin-left: 0;
    text-align: center;
  }

  nav {
    flex-direction: column;
    gap: 10px;
    padding: 0 16px;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .red-btn1 {
    padding: 12px 24px;
    font-size: 20px;
  }
}






